doctype html
head
  title Nutrition Guide
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/screen.css')
  link(rel='stylesheet' href='/stylesheets/search-box.css')
  link(rel='stylesheet' href='/stylesheets/chart.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
// Side navigation
nav#mySidenav.sidenav
  section.sidenav-close
    a#ham-close.closebtn &times;
  section.sidenav-title  Max. Calories
  section.slidecontainer
    input#lazy(type='hidden' name='lazy' value='true')
    input#maxcal.slider(type='range' min='0' max='10000' value='10000' step='100')
    p
      | Value: 
      span#demo2
  section.sidenav-title  Max. Ingredients
  section.slidecontainer
    input#maxing.slider(type='range' min='0' max='50' value='25' step='5')
    p
      | Value: 
      span#demo3
  button#filter.block(type='button') Submit
// Page content
main.main
  nav.navbar
    section.dropdown
      section#ham-open.ham-outer
        section.hamburger
        section.hamburger
        section.hamburger
    a(href='/') Home
    section.dropdown
      button.dropbtn
        | Health
        i.fa.fa-caret-down
      section.dropdown-content
        section.column
          a#info(data-id='alcohol-free') Alcohol-free
          a#info(data-id='celery-free') Celery-free
          a#info(data-id='crustacean-free') Crustcean-free
          a#info(data-id='dairy-free') Dairy-free
          a#info(data-id='vegan') Vegan
        section.column
          a#info(data-id='egg-free') Eggs-free
          a#info(data-id='fish-free') Fish-free
          a#info(data-id='fodmap-free') FODMAP free
          a#info(data-id='gluten-free') Gluten free
          a#info(data-id='keto-friendly') Keto Friendly
        section.column
          a#info(data-id='kidney-friendly') Kidney friendly
          a#info(data-id='kosher') Kosher
          a#info(data-id='low-potassium') Low potassium
          a#info(data-id='lupine-free') Lupine-free
          a#info(data-id='mustard-free') Mustard-free
        section.column
          a#info(data-id='No-oil-added') No oil added
          a#info(data-id='low-sugar') No-sugar
          a#info(data-id='paleo') Paleo
          a#info(data-id='vegetarian') Vegetarian
    section.dropdown
      button.dropbtn
        | Diet 
        i.fa.fa-caret-down
      section.dropdown-content
        section.column
          a#info(data-id='balanced') Balanced
          a#info(data-id='high-fiber') High-Fiber
          a#info(data-id='high-protein') High-Protein
          a#info(data-id='low-carb') Low-Carb
          a#info(data-id='low-fat') Low-Fat
        section.column
          a#info(data-id='low-sodium') Low-Sodium
        section.column
        section.column
    section.dropdown
      button.dropbtn
        | Cuisine Type 
        i.fa.fa-caret-down
      section.dropdown-content
        section.rowN
          section.column
            a#info(data-id='American') American
            a#info(data-id='Asian') Asian
            a#info(data-id='British') British
            a#info(data-id='Central Europe') Central Europe
            a#info(data-id='Chinese') Chinese
          section.column
            a#info(data-id='Eastern Europe') Eastern Europe
            a#info(data-id='French') French
            a#info(data-id='Indian') Indian
            a#info(data-id='Italian') Italian
            a#info(data-id='South East Asian') South East Asian
          section.column
            a#info(data-id='Japanese') Japanese
            a#info(data-id='Mediterranean') Mediterranean
            a#info(data-id='Mexican') Mexican
            a#info(data-id='Middle Eastern') Middle Eastern
            a#info(data-id='South American') South American
          section.column
            a#info(data-id='Caribbean') Caribbean
            a#info(data-id='Nordic') Nordic
            a#info(data-id='Kosher') Kosher
    section.dropdown
      button.dropbtn
        | Dish Type 
        i.fa.fa-caret-down
      section.dropdown-content
        section.column
          a#info(data-id='Starter') Starter
          a#info(data-id='Soup') Soup
          a#info(data-id='Sandwiches') Sandwiches
          a#info(data-id='Salad') Salad
          a#info(data-id='Preserve') Preserve
        section.column
          a#info(data-id='Preps') Preps
          a#info(data-id='Pancake') Pancake
          a#info(data-id='Omelet') Omelet
          a#info(data-id='Main course') Main course
          a#info(data-id='Egg') Egg
        section.column
          a#info(data-id='Desserts') Desserts
          a#info(data-id='Drinks') Drinks
          a#info(data-id='Condiments and sauces') Condiments and sauces
          a#info(data-id='Cereals') Cereals
          a#info(data-id='Bread') Bread
        section.column
          a#info(data-id='Biscuits and cookies') Biscuits and cookies
          a#info(data-id='Alcohol-cocktail') Alcohol-cocktail
    section.dropdown
      button.dropbtn
        | Meal Type 
        i.fa.fa-caret-down
      section.dropdown-content
        section.column
          a#info(data-id='Breakfast') Breakfast
          a#info(data-id='Lunch') Lunch
          a#info(data-id='Dinner') Dinner
          a#info(data-id='Snack') Snack
          a#info(data-id='Teatime') Teatime
        section.column
        section.column
        section.column
    a(href='/myrecipes') Saved Recipes
  section#display-dishes.search-content
    for dish in dishes
      section.search-column
        section#dish(data-dish=dish.id)
          section.card
            img.card-image(src=dish.recipe.image alt=dish.recipe.label onerror="this.src='/images/noimage.png'")
            section.search-container
              section.title #{dish.recipe.label}
              section.card-nutrients
                table
                  tr
                    th
                    th Total
                    th Unit
                  tr
                    td Fat
                    td #{dish.fat}
                    td g
                  tr
                    td Carbs
                    td #{dish.carb}
                    td g
                  tr
                    td Protein
                    td #{dish.protein}
                    td g
                  tr
                    td Calories
                    td #{(dish.recipe.calories).toFixed(0)}
                    td kcal
                figure
                  section.graphic
                    section.row-chart
                      section.chart
                        span.block-chart(title='Fat' style='width:'+dish.fatr+'%;')
                          span.value #{dish.fatr}%
                        span.block-chart(title='Carbs' style='width:'+dish.carbr+'%;')
                          span.value #{dish.carbr}%
                        span.block-chart(title='Protine' style='width:'+dish.protiner+'%;')
                          span.value #{dish.protiner}%
            a(href='/details/recipe?rid='+dish.id target='_blank') +More Details
            button#save.bclass(data-id=dish.id) Save

  // The Modal
  section#details-model.details-modal
    // Modal content
    section.details-modal-content
      span.details-close &times;
      section.row-details
        section#ingredientLines.col-5.menu-details
        section#digest.col-5.table-details
      section.row-details
        section#tags.col-11.labels
        section#cautions.col-11.labels.red
script(src='/javascript/main.js')